<div class="jumbotron">
  <h5 class="inline">Contact Melissa Strain to add admin priveleges to the account with username: &nbsp</h5><h4 class="inline"><%= current_user.username %></h4>
  <h5>Administrators can update rosters, schedules, and teacher profiles.</h5>
  <h3>melissa.e.strain@gmail.com</h3>
</div>