<div class="center">
  <div class="btn-huge inline">
    <div class="btn-contents">
      <h1 class="varsity"><%= link_to "GROUP A", group_schedule_path(Group.all[0]) %></h1>
    </div>
  </div>
  <div class="btn-huge inline">
    <div class="btn-contents">
      <h1 class="varsity"><%= link_to "GROUP B", group_schedule_path(Group.all[1]) %></h1>
    </div>
  </div>
  <div class="btn-huge inline">
    <div class="btn-contents">
      <h1 class="varsity"><%= link_to "MEN", group_schedule_path(Group.all[2]) %></h1>
      <h5 class="day-text">Sunday / Monday</h5>
    </div>
  </div>
  <div class="btn-huge inline">
    <div class="btn-contents">
      <h1 class="varsity"><%= link_to "ALUMNI", group_schedule_path(Group.all[2]) %></h1>
      <h5 class="day-text">Saturday</h5>
    </div>
  </div>
</div>

