<div class="jumbotron mobile-jumbo">
  <h1>Teacher Hours</h1>
  <h5>Click a teacher to see their classes</h5>
  <% @teachers.each do |teacher| %>
    <div class="hours-container"><h3 class="inline green"><%= teacher.hours %> hrs</h3><h3 class="inline">&nbsp- <%= link_to teacher.full_name, teacher_dance_classes_path(teacher) %></h3></div>
  <% end %>
  <br>
  <%= link_to 'back', admin_path %>
</div>