#admin-btn-list {
  text-align: center;
}

.admin-column {
  margin-left: 40px;
  margin-right: 40px;
  display: inline-block;
}

.admin-btn {
  width: 220px;
  margin: 2px;
}

.btn:visited {
  color: white;
}

.class-sort-btn {
  width: 72px
}

.class-nav-btn {
  width: 148px;
}