// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#admin-btn-list {
  text-align: center;
}

.admin-column {
  margin-left: 40px;
  margin-right: 40px;
  display: inline-block;
}

.admin-btn {
  width: 220px;
  margin: 2px;
}

.btn:visited {
  color: white;
}