/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-datetimepicker
 */

 body {
  background: url("cdi-wallpaper2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
 }

 a:hover {
  text-decoration: none;
 }

 .center {
  text-align: center;
 }

 .inline {
  display: inline-block;
 }

 .float-right {
  text-align: right;
  float: right;
 }

 .vert-top {
  vertical-align: text-top;
 }

 .spaced {
  margin-right: 20px;
 }

 #notice {
  margin-top: 15px;
 }

 .navbar-brand {
  margin-top: -4px;
 }

 @media (max-width:500px) {
   .mobile-jumbo {
     padding-left: 5px;
     padding-right: 5px;
   }
   .jumbotron {
    margin-left: 10px;
    margin-right: 10px;
   }
 }