/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-datetimepicker
 */

 @font-face {
  font-family: 'VarsityRegular';
  src:url('varsity_regular.eot');
  src:url('varsity_regular.eot?#iefix') format('embedded-opentype'),
    url('varsity_regular.svg#varsity_regular') format('svg'),
    url('varsity_regular.woff') format('woff'),
    url('varsity_regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
 }

 .jumbotron {
  margin-top: 10px;
 }

 .main-btn-container {
  margin-top: 60px;
 }

 .varsity {
  font-size: 60px;
  font-family: 'VarsityRegular';
 }

 .varsity-small {
  font-size: 50px;
  font-family: 'VarsityRegular';
 }

 body {
  background: url("cdi-wallpaper2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
 }

a:hover {
  background-color: transparent; text-decoration: none;
}

 .center {
  text-align: center;
 }

 .inline {
  display: inline-block;
 }

 .float-right {
  text-align: right;
  float: right;
 }

 .vert-top {
  vertical-align: text-top;
 }

 .spaced {
  margin-right: 20px;
 }

 #notice {
  margin-top: 15px;
 }

 .navbar-brand {
  margin-top: -4px;
 }

 .purple {
  color: #9954BB;
  font-weight: 400;
 }

 .big-link, .big-link:hover, .big-link:visited {
  color: #222222;
 }

 @media (max-width:500px) {
   .mobile-jumbo {
     padding-left: 5px;
     padding-right: 5px;
   }
   .jumbotron {
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 22px;
   }

   .btn-huge {
    margin-top: 16px;
   }
 }