.dance-style {
  margin-top: -10px;
}

.class-container {
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 1px;
  padding-bottom: 20px;
  width: 310px;
}

#new-class-form, #new-student-form {
  width: 310px;
  input, textarea, select {
    width: 100%;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 4px;
    resize: none;
  }
  select {
    background-color: white;
    border-radius: 0px;
    padding-left: 2px;
    border: none;
  }
  textarea {
    height: 100px;
  }
}

.date-tab {
  display: table-cell;
  background-color: white;
  margin-top: 10px;
  padding: 5px;
}

.top-spaced {
  margin-top: 20px;
}

#check-container {
  text-align: center;
}

.check-label {
  font-size: 8px;
}

.check-option {
  text-align: center;
  background-color: white;
  width: 58px;
}

.hidden-check {
  background-color: #9954BB;
  color: white;
}

input[type='checkbox'] {
  -ms-transform: scale(1.4); /* IE */
  -moz-transform: scale(1.4); /* FF */
  -webkit-transform: scale(1.4); /* Safari and Chrome */
  -o-transform: scale(1.4); /* Opera */
  padding: 10px;
}

.headshot-link, .headshot-link:visited {
  color: #38B800;
  font-weight: 400;
}

.headshots-sched-input {
  width: 310px;
  height: 800px;
  padding: 10px;
  resize: none;
}

.headshot-time {
  margin-top: -34px;
}

.headshots-btn {
  width: 310px;
}