.student-delete-btn, .attendance-btn {
  padding-top: 1px;
  padding-bottom: 1px;
}

.student-name {
  padding-left: 10px;
}

.student-input {
  height: 32px;
  margin-top: 1px;
}

.btn-sm {
  margin-bottom: 2px;
}