.jumbotron {
  padding: 30px;
  margin-top: -25px;
  margin-left: 60px;
  margin-right: 60px;
}

.btn-huge {
  background-color: #B6DEFF;
  border-radius: 10px;
  width: 310px;
  height: 200px;
  margin: 20px;
  vertical-align: top;
  position: relative;
}

.btn-contents {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  h1 {
    margin: auto;
  }
}

.day-text {
  margin-top: -10px;
}

@media (max-width:500px) {
  .btn-huge {
    margin-top: 45px;
  }
}