.jumbotron {
  padding: 30px;
  margin-top: -25px;
  margin-left: 60px;
  margin-right: 60px;
}

.btn-huge {
  background-color: #B6DEFF;
  border-radius: 10px;
  width: 310px;
  height: 200px;
  margin: 20px;
}

.btn-huge-link {
  color: #222222;
  margin-top: 58px;
  h1 {
    font-size: 72px;
    font-weight: bold;
  }
  :visited {
    color: #222222;
  }
}

@media (max-width:500px) {
  .btn-huge {
    margin-top: 45px;
  }
  .btn-huge-link {
    h1 {
      font-size: 72px;
    }
  }
}